<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntaSend Payment Integration</title>
    <!-- Add IntaSend Inline SDK -->
    <script src="https://unpkg.com/intasend-inlinejs-sdk@4.0.7/build/intasend-inline.js"></script>
</head>
<body>

    <h1>Make a Payment</h1>

    <button class="intaSendPayButton" data-amount="10" data-currency="KES">Pay Now</button> 

    <script>
        new window.IntaSend ({
            publicAPIKey: publicAPIKey,
            live: false,
        })
        .on('COMPLETE', (results)  => {console.log('Do something with the results', results)})
        .on('FAILED', (results)  => {console.log('Do something with the results', results)})
        .on('IN-PROGRESS', (results)  => {console.log('Do something with the results', results)})

    </script>
    
</body>
</html>
